

<h2><b>@ViewBag.Customer.FirstName @ViewBag.Customer.LastName, you successfuly rent @ViewBag.Rent.Vehicle.Brand @ViewBag.Rent.Vehicle.Name @ViewBag.Rent.Vehicle.YearOfManufactured untill @ViewBag.Rent.ReturnDate.ToLongDateString()</b></h2>
<p>Check your email @ViewBag.Customer.Email for detail information.</p>
<a class="btn btn-primary" asp-action="Index" asp-controller="Home">Back to vehicle list</a>