@model IEnumerable<RentalService.Models.Vehicle>

<table class="table">
        @{
            var vehicles = Model.ToList();
            var count = Model.Count();
            for (var i = 0; i < Model.Count(); i += 2)
            {
                <tr>
                @for (var j = 0; j < 2; j++)
                {
                    if (count - 1 >= 0)
                    {
                        <td>
                            <p><b style="font-size:20px">@vehicles[i+j].Brand.Name @vehicles[i+j].Name @vehicles[i+j].YearOfManufactured</b></p>
                            @if (!vehicles[i + j].Photos.Any())
                            {
                                <img style='width:400px; height:300px;' src="~/Files/NoPhoto.jpg" class="img" alt="No photo" />
                            }
                            else
                            {
                                <img style='width:400px; height:300px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(vehicles[i+j].Photos.First().Photo))" />
                            }
                            <pre style="font-size:14px"><b>Location: </b>@vehicles[i+j].Location.Name</pre>
                            <pre style="font-size:14px"><b>Fuel type: </b>@vehicles[i+j].FuelType.Name     <b>Mileage: </b>@vehicles[i+j].Mileage km</pre>
                            <pre style="font-size:14px"><b>Number of seats: </b>@vehicles[i+j].NumberOfSeats     <b>Price: </b>@vehicles[i+j].PricePerDay UAH</pre>
                            <p><b>Available: </b>@{
                                if (vehicles[i + j].IsAvailable)
                                {
                                    <b>&#10004;</b>
                                }
                                else
                                {
                                    <b>&#10008;</b>
                                }
                            }
                            </p>
                            <div class="d-grid gap-2 col-6 mx-auto">
                                @if (vehicles[i + j].IsAvailable)
                                {
                                    <button type="submit" class="btn btn-warning">Rent</button>    
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-warning" disabled data-toggle="submit">Rent</button>    
                                }
                                <button type="submit" class="btn btn-sm btn-light">Details</button>
                            </div>
                        </td>
                        count -= 1;
                    }
                }
                </tr>
                
            }
}
</table>
